.App {
  text-align: center;
}

.App p {
  max-width: 800px; /* Limiting the width to 800px */
  margin: 0 auto 20px auto;  /* Centering it horizontally but space below text */
  text-align: left; /* Aligning the text to the left */
}